<ul class="list-group">
  <% @hosts.each do |host| %>
    <li class="list-group-item">
    <div class="row">
      <div class="col-md-9"><h3 style="margin-top: 10px;"><a href="<%= host.url %>"><%= host.url %></a></h3></div>
      <div class="col-md-3 text-right"><h4><%= host.issues.count %> Reports</h4></div>
    </div>
    </li>
  <% end %>
</ul>
