<div class="parent">
  <div class="child">
      <div class="row text-center"><p class="titles">20 million Americans are visually impaired.</p></div>
      <div class="row text-center" style="padding-top: 30px; padding-bottom: 30px;">
        <button class="btn btn-default" onclick="toggle()"><b>CAN'T SEE?</b></buttom>
      </div>
      <div class="row text-center"><p class="titles">The Internet should be a beautiful place&hellip; <br>for everyone.</p></div>
  </div>
</div>

<div class="explanation">This text on our black homepage can be read by screen readers, and only becomes visible to everyone else after clicking the button above.<br/><br/>For the visually impaired, the internet can bring the world to our doorstep. But it remains hard to navigate. With its downloadable browser extensions, the BlankApp provides an easy way to report accessibility problems and a seamless platform to incorporate new fixes.</div>


<div class="text-right sig" style="padding: 20px; display: none;">
  <a class="btn btn-default" href="https://chrome.google.com/webstore/detail/the-blank-app/lcpidfbmbobanadekjnepjjaggblldoe"><b>Chrome</b></a>
  <a class="btn btn-default" href="/the_blank_app.xpi"><b>Firefox</b></a>
  <a class="btn btn-default" href="/hosts"><b>Accessibility Log</b></a>
</div>
<div class="hos">&nbsp;</div>

