<div class="parent">
  <div class="child">
      <h1 class="row text-center titles white">Instructions</h1>
      <p>This plugin will enable you to report accessibility issues. This will enable website maintainers and others to see what are the most important things to fix.</p>
      <p>You will first need to download the plugin.</p>

      <center>
        <a class="btn btn-default" href="https://chrome.google.com/webstore/detail/the-blank-app/lcpidfbmbobanadekjnepjjaggblldoe"><b>Chrome</b></a>
        <a class="btn btn-default" href="/the_blank_app.xpi"><b>Firefox</b></a>
      </center>

      <h2>Using the plugin</h2>
      <ol>
        <li>When you encounter a difficulty being able to access a site, press the Ctrl key and while holding it, press the i key.</li>
        <li>When you enter the shortcut keys, you will hear a sound that indicates that the plugin has been opened. The border of the background will also flash yellow and then black.</li>
        <li>Type the issue that you are having with the site.</li>
        <li>To submit the issue press the Enter key</li>
        <li>When you submit the issue you will hear a sound. The plugin will also show a large green checkmark. This indicates that the issues has been submitted to our server</li>
        <li>That's it</li>
      </ol>
  </div>

</div>
