html{
  background-color: #000;
}

.home  {
  background-image: url('/hawaii-sunset-PHOTO-BY-RICKY-LEUNG.JPG');
  background-size:cover;
  background-repeat:no-repeat;
}

.blank {
}


.home h1 {
  color: #fff;
}

.hos {
  background-color: #000;
  height: 100vh;
}

.sig {
  height: 100vh;
}

.parent {
  position: relative;
}
.child {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 100px);
  width:60%;
  background-color: rgba(0,0,0,.6)
}

.titles {
  font-size: 2em;
  margin-top: 0.8em;
  margin-bottom: 1em;
  font-weight: 500;
  line-height: 1.1;
  font-family: sans-serif;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
}

.row:first-child .titles{
  margin-top:1.2em;
  font-size:3em;
}

.white {
  color: #FFF;
  text-shadow: 1px 1px #222;
}

.black {
  color: #000;
}

.btn {
  border-radius: 6px;
  border: none;
  /*box-shadow: 1px 1px .5px .5px #555;*/
}

.btn-default:hover {
  background-color: #4169E1;
  color: #FFF;
}

.sig .btn{
  margin-bottom:5px;
}

.explanation{
  text-indent: -999999px;
  padding-bottom:30px;
  text-shadow: 1px 1px #222;
}

.explanation p{
  font-size:14px;
  padding-left:20px;
  padding-right:20px;

}

.explanation.appear{
  text-indent: 0px;
  color:#fff;
}


// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
div{
    width: 100%;
    height: 100%;
    background: black;
    position: absolute;
    font-size: 30px;
    color: black;
    text-align: center;
    top: 0;
    left: 0;
    // z-index:1;
}
label.btn {
    position: absolute;
    top:200px;
    left: 450px;
    z-index:2;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
input[type="checkbox"]{
    display: none;
}
input[type="checkbox"]:checked + div{
  background-image: url('/bluehole.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
label + input[type="checkbox"]:checked{
    background: white;
}*/

// Tablets
@media only screen and (min-width: 768px) and (max-width:985px){
  .titles {
    font-size: 1.8em;
  }

  .row:first-child .titles{
    font-size:2.8em;
  }
}

// Wide phones
@media only screen and (min-width: 480px) and (max-width:767px){
  .titles {
    font-size: 1.6em;
  }

  .row:first-child .titles{
    font-size:2.6em;
  }
}

// Phones and smaller
@media only screen and (max-width:479px){
  .titles {
    font-size: 1.4em;
  }

  .row:first-child .titles{
    font-size:2em;
  }
}
